/.wrangler
dist/
.env
.react-router/
.dev.vars

.DS_Store
/node_modules/
*.tsbuildinfo

# Cloudflare
.mf
.wrangler
.dev.vars*

.cache
.env
.windsurfrules*

# build
*build/**/*
!build/client/
!build/client/.assetsignore